@font-face {
  font-family: tiza;
  src: url('../fonts/tiza.ttf');
  font-weight: lighter;
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url('/image/background.png');
    margin: 0;
    overflow: hidden;
}

.bubble {
    background: orange;
    opacity: 0.2;
    position: fixed;
    border-radius: 100%
}

p {
    font-family: 'tiza', tiza;
    color: #fff;
    margin-top: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 13vw;
    text-align: center;
    width: 100%;
    height: 100px;
    opacity: 0.8
}

.color {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 12px -6px 0 12px;
    border: 2px solid #fff;
    cursor: pointer
}
